<div  class="content" data-ng-controller="SearchCtrl">
    <div class="head">
        
            <div class="geeklogo"><img src="{{CONSTANTS.HOME_PAGE}}/Assets/Images/gl-logo@2x.png" width="64"/></div>
            <div class="powered">Powered by Spotify</div>
        
        <div class="logo"><img src="{{CONSTANTS.HOME_PAGE}}/Assets/Images/hero-img@2x.png" width="420" /></div>
        
    </div>
    <div class="search">
        <div class="text">
            <input data-ng-model="search.text">
            <div class="button"><button data-ng-disabled="search.text==''" data-ng-click="send()" >SEARCH</button></div>
        </div>
    </div>
    
    <div class="noitems" data-ng-if="!search.displayResults">You have to digit at least 2 characters in the input search </div>
    <div class="noitems" data-ng-if="search.displayResults && totalItems == 0">No items found. Try again! </div>
    
    <div class="result" data-ng-if="search.displayResults && totalItems > 0">
    
        
        <div class="box" data-ng-repeat="item in result.artists.items"  >
            <a href="#" data-ng-click="toggleModal(item)">
                <div data-ng-if="item.images[0]">
                    <img class="image" src="{{ item.images[0].url }}">
                    <img class="icon" src="{{CONSTANTS.HOME_PAGE+'/Assets/Images/artist-icon@2x.png'}}">
                </div>
                <div class="noimage" data-ng-if="!item.images[0]">
                    <img src="{{CONSTANTS.HOME_PAGE+'/Assets/Images/Bitmap@2x.png'}}">
                    View Albums
                </div>
                <div class="caption">{{ item.name }}</div>
            </a>
        </div>   
        
         <div class="box" data-ng-repeat="item in result.albums.items" >
            <a href="#" data-ng-click="toggleModal(item)">
                <div data-ng-if="item.images[0]">
                    <img class="image" src="{{ item.images[0].url }}">
                    <img class="icon" src="{{CONSTANTS.HOME_PAGE+'/Assets/Images/album-icon@2x.png'}}">
                </div>
                <div class="noimage" data-ng-if="!item.images[0]">
                    <img src="{{CONSTANTS.HOME_PAGE+'/Assets/Images/Bitmap@2x.png'}}">
                    View Tracks
                </div>
                <div class="caption">{{ item.name }}</div>
        </div>  
            
    </div>
    
    <modal-dialog show='modalShown' width='750px' height='90%'>
        <div class="ng-modal-header">
            <img class="ng-modal-image" src="{{ currentItem.images[0].url }}">
            <div class="ng-modal-caption">
                {{ currentItem.name }}
            </div>
        </div>
        <div class="ng-modal-data">
            <div data-ng-if="currentItem.type == 'artist'">
                Albums
                <hr/>
                <div class="ng-modal-list">
                    <div class="ng-modal-row" data-ng-repeat="item in currentItem.modalData.items" >
                        <div class="ng-modal-col">
                            <img class="ng-modal-icon" src="{{ item.images[0].url }}">
                        </div>
                        <div class="ng-modal-col">
                            {{ item.name }}
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-ng-if="currentItem.type == 'album'">
                Tracks
                <hr/>
                <div class="ng-modal-list">
                    <div class="ng-modal-row" data-ng-repeat="item in currentItem.modalData.tracks.items" >
                        <div class="ng-modal-col">
                            <div class="ng-modal-icon">{{ item.track_number }}</div>
                        </div>
                        <div class="ng-modal-col">
                            {{ item.name }}
                        </div>
                        
                    </div>
                </div>
            </div>
                 
        </div>
    </modal-dialog>    
    
</div>

